<table class="m_-6814824071382954445m_4500505283733676759table-full" cellspacing="0" cellpadding="0" border="0" align="center" width="600">
    <tbody>
        <tr>
            <td style="font-family:'Open Sans',Arial,sans-serif;font-size:33px;color:#414a51" class="m_-6814824071382954445m_4500505283733676759editable">
                <u></u><img><u></u>
            </td>
        </tr>
        <tr>
            <td style="font-family:'Open Sans',Arial,sans-serif;font-size:33px;color:#414a51" class="m_-6814824071382954445m_4500505283733676759editable">
                <u></u><u></u>
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td align="left">
                <table class="m_-6814824071382954445m_4500505283733676759table-full" cellspacing="0" cellpadding="0" border="0" align="left" width="70">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="70">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15"></td>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15"></td>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15"></td>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="font-family:'Open Sans',Arial,sans-serif;font-size:14px;color:#4a4c4d;line-height:20px">
                <table class="m_-6814824071382954445m_4500505283733676759table-full" cellspacing="0" cellpadding="0" border="0" width="600">
                    <tbody>
                        <tr>
                            <td colspan="2" style="font-family:'Open sans',Arial,sans-serif;color:#fff;font-size:14px;line-height:28px;padding-left:15px;font-weight:bold;border-radius:5px" class="m_-6814824071382954445m_4500505283733676759editable" bgcolor="#036" align="center"
                                height="40">
                                <b>SOLICITAR INFORMACIÓN DE CHARLA</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><br></td>
                        </tr>
                        <tr>
                            <td style="line-height:28px"><b></b></td>
                            <td style="line-height:28px"></td>
                        </tr>
                        <tr>
                            <td style="line-height:28px"><b></b></td>
                            <td style="line-height:28px"></td>
                        </tr>
                        <td style="line-height:28px"><b></b></td>
                        <td style="line-height:28px">
                            <a href="callto:" value="" target="_blank"></a>
                        </td>

                        <tr>
                            <td style="line-height:28px"><b></b></td>
                            <td style="line-height:28px">
                                <a href="mailto:" target="_blank"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
	
	
	<tr>
                            <td colspan="2"><br></td>
                        </tr>

		<tr>
                            <td colspan="2" height="40">
                                <table cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td style="font-family:'Open sans',Arial,sans-serif;color:#fff;font-size:14px;padding-left:5px;padding-right:5px;font-weight:bold;border-radius:10px" class="m_5151407861496243105m_6423733047676214325editable" bgcolor="#036" width="10" height="10">
                                                <b>1</b>
                                            </td>
                                            <td style="padding-left:5px"><b>PROGRAMA</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><br></td>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Codigo de programa:
                                            </td>
                                            <td>
                                                {% if dataform.programa is defined %} {{ dataform.programa }} {% else %}
                                                <!-- programa -->
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nombre de programa:</td>
                                            <td>{% if dataform.nombrepro is defined %} {{ dataform.nombrepro }} {% else %}
                                                <!-- nombre de programa -->
                                                {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Sede: </td>
                                            <td>
                                                {% if dataform.location is defined %} {{ dataform.location }} {% else %}
                                                <!-- location -->
                                                {% endif %}
                                            </td>
                                        </tr>
										
										 <tr>
                                            <td>Fecha de charla: </td>
                                            <td>
                                                {% if dataform.ctrfechacharlac is defined %} {{ dataform.ctrfechacharlac }} {% else %}
                                                <!-- location -->
                                                {% endif %}
                                            </td>
                                        </tr>
                                       {% if dataform.ctrorigendelregistroc is defined  %}
                                            {% if dataform.ctrorigendelregistroc == 'RIADMISION'  %}
                                        <tr>
                                            <td>Plan: </td>
                                            <td>
                                                {% if dataform.plan is defined %} {{ dataform.plan }} {% else %}
                                                <!-- plan-->
                                                {% endif %}
                                            </td>
                                        </tr>
                                            {% endif %}
                                        {% endif %}
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><br></td>
                        </tr>
	
	
        <tr>
            <td  height="40">
                                <table cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td style="font-family:'Open sans',Arial,sans-serif;color:#fff;font-size:14px;padding-left:5px;padding-right:5px;font-weight:bold;border-radius:10px" class="m_5151407861496243105m_6423733047676214325editable" bgcolor="#036" width="10" height="10">
                                                <b>2</b>
                                            </td>
                                            <td style="padding-left:5px"><b>DATOS PERSONALES</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
        </tr>
        <tr>
            {% if dataform.salutoryintroduction is defined %}
            <td height="20">Sr./Mr./Srta.: {{dataform.salutoryintroduction}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.firstname is defined %}
            <td height="20">Nombre: {{dataform.firstname}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.lastname is defined %}
            <td height="20">Apellido Paterno: {{dataform.lastname}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.persondeoctrapellidomaternoc is defined %}
            <td height="20">Apellido Materno: {{dataform.persondeoctrapellidomaternoc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.persondeoctrtipodedocumentoc is defined %}
            <td height="20">Tipo de documento: {{dataform.persondeoctrtipodedocumentoc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.persondeoctrnrodedocumentoc is defined %}
            <td height="20">Numero de documento: {{dataform.persondeoctrnrodedocumentoc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.homephonenumber is defined %}
            <td height="20">Numero de telefono fijo: {{dataform.homephonenumber}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.mobilenumber is defined %}
            <td height="20">Numero de telefono celular: {{dataform.mobilenumber}}</td>{% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.addresselementattribute2 is defined %}
            <td height="20">Primera dirección:{{dataform.addresselementattribute2}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.addresselementattribute3 is defined %}
            <td height="20">Segunda dirección: {{dataform.addresselementattribute3}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        <tr>
            {% if dataform.addressline1 is defined %}
            <td height="20">Tercera dirección: {{dataform.addressline1}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.country is defined %}
            <td height="20">Paìs: {{ npais(dataform.country) }}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.city is defined %}
            <td height="20">Ciudad: {{dataform.city}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.dateofbirth is defined %}
            <td height="20">Fecha de nacimiento: {{dataform.dateofbirth}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.persondeoctrpaisdenacimientoc is defined %}
            <td height="20">Paìs de nacimiento: {{ npais(dataform.persondeoctrpaisdenacimientoc) }}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.persondeoctrciudaddenacimientoc is defined %}
            <td height="20">Ciudad de nacimiento: {{ npais(dataform.persondeoctrciudaddenacimientoc) }}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.persondeoctrnacionalidadc is defined %}
            <td height="20">Nacionalidad: {{ dataform.persondeoctrnacionalidadc }}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
		
		<tr>
            {% if dataform.persondeoctrsituacionactualc is defined %}
            <td height="20">Situaciòn actual: {{dataform.persondeoctrsituacionactualc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
		
        <tr>
            {% if dataform.emailaddress is defined %}
            <td height="20">Correo electronico: {{dataform.emailaddress}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
		
		<tr>
            {% if dataform.emailaddress2 is defined %}
            <td height="20">Correo electronico: {{dataform.emailaddress2}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.persondeoctrcorreopucpc is defined %}
            <td height="20">Correo electronico PUCP: {{dataform.persondeoctrcorreopucpc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.persondeoctrcuentaskypec is defined %}
            <td height="20">Skype: {{dataform.persondeoctrcuentaskypec}}</td>
            {% endif %}
        </tr>


        <tr>
            <td  height="40">
                                <table cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td style="font-family:'Open sans',Arial,sans-serif;color:#fff;font-size:14px;padding-left:5px;padding-right:5px;font-weight:bold;border-radius:10px" class="m_5151407861496243105m_6423733047676214325editable" bgcolor="#036" width="10" height="10">
                                                <b>3</b>
                                            </td>
                                            <td style="padding-left:5px"><b>DATOS ACADEMICOS</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
        </tr>

        <tr>
            {% if dataform.ctrgradoacademicoc is defined %}
            <td height="20">Grado academico: {{dataform.ctrgradoacademicoc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>
        
        {% if dataform.ctrinstitucionacademicac is defined %}
        <tr>
            <td height="20">Instituto academico: {{dataform.ctrinstitucionacademicac}}</td>
        </tr>
        {% else %}
            <!-- sin intro -->
        {% endif %}

        <tr>
            {% if dataform.ctrotrasuniversidadesinstc is defined %}
            <td height="20">Universidad/Instituto: {{dataform.ctrotrasuniversidadesinstc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.ctrespecialidadc is defined %}
            <td height="20">Especialidad: {{dataform.ctrespecialidadc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>
            {% if dataform.ctranomesquefinalizoestsupc is defined %}
            <td height="20">Mes de Graduación PUCP:{{dataform.ctranomesquefinalizoestsupc}}</td>
            {% else %}
            <!-- sin intro -->
            {% endif %}
        </tr>

        <tr>{% if dataform.ctrnivelacademicoc is defined %}
            <td height="20">Nivel Academico: {{dataform.ctrnivelacademicoc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctrexalumnoc is defined %}
            <td height="20">Ex-alumno: {{dataform.persondeoctrexalumnoc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctrcodigopucpc is defined %}
            <td height="20">Codigo PUCP: {{dataform.persondeoctrcodigopucpc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.ctrinstituciondeidiomasc is defined %}
            <td height="20">Instituto de idiomas: {{dataform.ctrinstituciondeidiomasc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.ctrnivelalcanzadoc is defined %}
            <td height="20">Nivel alcanzado: {{dataform.ctrnivelalcanzadoc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.ctraniomesfinalizoidiomac is defined %}
            <td height="20">Año-Mes Finalizado: {{dataform.ctraniomesfinalizoidiomac}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

		<tr>{% if dataform.description is defined %}
            <td height="20">Intresado(a) en: {{dataform.description}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>
			
        <tr>{% if dataform.ctrciudadc is defined %}
            <td height="20">Ciudad: {{dataform.ctrciudadc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>
		
				<tr>{% if dataform.persondeoctrestudiospreviosc is defined %}
            <td height="20">Estudios previos: {{dataform.persondeoctrestudiospreviosc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>
		
		<tr>{% if dataform.persondeoctrprogramaqueestudioc is defined %}
            <td height="20">Programa que estudiò: {{dataform.persondeoctrprogramaqueestudioc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>
		
        <tr>
             <td  height="40">
                                <table cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td style="font-family:'Open sans',Arial,sans-serif;color:#fff;font-size:14px;padding-left:5px;padding-right:5px;font-weight:bold;border-radius:10px" class="m_5151407861496243105m_6423733047676214325editable" bgcolor="#036" width="10" height="10">
                                                <b>4</b>
                                            </td>
                                            <td style="padding-left:5px"><b>DATOS LABORALES</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
        </tr>

        <tr>{% if dataform.persondeoctrcompaniac is defined%}
            <td height="20">Compania: {{dataform.persondeoctrcompaniac}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.jobtitle is defined %}
            <td height="20">Titulo laboral: {{dataform.jobtitle}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.workphonenumber is defined %}
            <td height="20">Telefono de oficina donde trabaja: {{dataform.workphonenumber}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.workphoneextension is defined %}
            <td height="20">Anexo: {{dataform.workphoneextension}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.faxnumber is defined %}
            <td height="20">Numero de fax: {{dataform.faxnumber}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctraniosdeexperienciac is defined %}
            <td height="20">Años de experiencia: {{dataform.persondeoctraniosdeexperienciac}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctrobservacionc is defined %}
            <td height="20">Observacion: {{dataform.persondeoctrobservacionc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctrprocedenciac is defined %}
            <td height="20">Procedencia: {{ procedenciatxt(dataform.persondeoctrprocedenciac) }}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

		<tr>{% if dataform.persondeoctrautorizodatospersonfinesmc is defined %}
            <td height="20">Autorizo Datos Personalizados Fines Mc: {% if dataform.persondeoctrautorizodatospersonfinesmc == true %} Si {% else %} No {% endif %}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctrautorizoenvinfprogacac is defined %}
            <td height="20">Autorizo envio de informaciòn academica: {% if dataform.persondeoctrautorizoenvinfprogacac == true %} Si {% else %} No {% endif %}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.persondeoctrsalariomedioanualc is defined %}
            <td height="20">Salario medio anual: {{dataform.persondeoctrsalariomedioanualc}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>{% if dataform.currencycode is defined %}
            <td height="20">Moneda: {{dataform.currencycode}}</td>{% else %}
            <!-- sin intro -->{% endif %}</tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td class="m_-6814824071382954445m_4500505283733676759editable" style="font-family:'Open Sans',Arial,sans-serif;font-size:11px;color:#fff;text-align:center;font-weight:bold" bgcolor="#900" height="30">
                © Copyright 2016 - All right reserved - <a href="http://centrum.pucp.edu.pe/" style="color:#fff;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://centrum.pucp.edu.pe/&amp;source=gmail&amp;ust=1495128514180000&amp;usg=AFQjCNFr2TJEEnLKfKdDDExjS-2-TeSbLA">
            Página principal</a>
            </td>
        </tr>
    </tbody>
</table>